/* COLOR PALETTE:
apricot: #ffcdb2
melon: #ffb4a2
pastel pink: #e5989b
english lavender: #b5838D
old lavender: #6d6875 
cornflower blue: #5C95FF*/


body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffcdb2;
}

.container {
  border: 3px solid #e5989b;
  /* border-radius: 15px; */
  background-color: #ffb4a2;
}

.top {
  padding: 10px;
  background: #e5989b;
  /* border-radius: 15px; */
}

.content {
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}



